
.pageWrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-image: url('https://motor.elpais.com/wp-content/uploads/2018/11/1c20f680-2019-bmw-330e-04.jpg');

  .card{
    margin: auto;
    width: 30vw;
    min-width: 300px;
    max-width: 500px;
    margin-top: 16px;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    display: flex !important;
    flex-direction: column !important
  }
  
  .largeCard{
    margin-top: 20vh;
    width: 60vw;
    min-width: 800px;
    max-width: 1500px;
    text-align: center;
    padding: 36px;
    align-items: center;
    justify-content: center;
  }

  .button{
    max-width: 50%;
  }



  .form{
    margin: 8px 12px;
  }

  @keyframes fadeIn {
    from {opacity: 0; transform: scale(0.1);}
    to {opacity: 1; transform: scale(1);}
  }
}
