.pageWrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #f3f3f3;
}

.card{
  background: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline-block;
  margin: 6px;
}


.fab{
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}
