.pageWrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #101010;
}

.card{
  background: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline-block;
  margin: 6px;
}

.companyWrapper{
  div{
    color: white;
    font-size: 50px;
    line-height: 50px;
  }
}


.fab{
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}
