.car{
  cursor: pointer;
  display: flex;
  margin: 8px;
  height: 130px;
  transform: scale(1);
  transition-duration: 0.4s !important;
  transition-property: box-shadow, transform !important;
  box-shadow: 0 1px 2px rgba(60,64,67, 0.3), 0 1px 3px 1px rgba(60,64,67, 0.15) !important;
  .previewImage{
    height: 100%;
    width: 210px;
    background-size: cover;
    background-image: var(--image);
  }
  .data{
    position: relative;
    flex: 1;
    padding: 12px;
    .price{
      position: absolute;
      right: 12px;
      bottom: 0;
    }
  }
}

.car:hover{
  background: var(--neutral-light);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.car:active{
  transform: scale(0.99);
  background: var(--neutral-light);
  box-shadow: 0 1px 2px rgba(60,64,67, 0.3), 0 1px 3px 1px rgba(60,64,67, 0.15) !important;
}
