
.pageWrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-image: url('https://media-exp1.licdn.com/dms/image/C4D1BAQGo_LTduDV_0g/company-background_10000/0?e=1596808800&v=beta&t=IAcSrRWZt-8M2ddpEWHdvxXrQeQBjzgMXhciKQ424b0');

  .card{
    overflow: visible;
    margin: auto;
    width: 30vw;
    min-width: 400px;
    max-width: 500px;
    margin-top: 16px;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    display: flex !important;
    flex-direction: column !important
  }

  .largeCard{
    margin-top: 40vh;
    padding: 0px;
    display: flex !important;
    flex-direction: row !important;
    width: 50vw;
    min-width: 800px;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    max-width: 1500px;
    text-align: center;
    padding: 36px;
    align-items: center;
    justify-content: center;
    height: 20vh;
    .loginArea{
      color: white;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex !important;
      flex-direction: column !important;
    }
    .signUpnArea{
      color: white;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex !important;
      flex-direction: column !important;
    }
  }

  .button{
    max-width: 50%;
    margin: auto;
    width: 50%;
  }

  .header{
    background: #3f51b5;
    color: white;
    padding: 12px;
  }

  .formWrapper{
    position: absolute;
    padding-bottom: 12px;
    min-height: calc( 20vh + 200px );
  }
  .form{
    margin: 8px 12px;
  }

  @keyframes fadeIn {
    from {opacity: 0; transform: scale(0.1);}
    to {opacity: 1; transform: scale(1);}
  }
}
